In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
#importing pandas library
import pandas as pd

In [3]:
#Creating a list and printing it
l = [1,23,87,456,25,54]
print(l)

[1, 23, 87, 456, 25, 54]

In [4]:
#finding type of an element from the list
type(1)

int

In [5]:
#finding type of the variable 
type(l)

list

In [6]:
dtype(1)

NameError: name 'dtype' is not defined

In [7]:
#Generating a series from a list (using pandas)
#Series: Column consisting of a list and datatype
pd.Series(l)

0      1
1     23
2     87
3    456
4     25
5     54
dtype: int64

In [8]:
#Generating a series from a dictionary
#Dictionary: For every value a key is assigned (Use CURLY BRACES)

d = {'One':1, 'Two':23,'Three':87,'Four':456,'Five':25,'Six':54}
pd.Series(d)

One        1
Two       23
Three     87
Four     456
Five      25
Six       54
dtype: int64

In [9]:
#Creating a DataFrame using a Python list
data = [[1000,'Steve',86.29],
       [1001,'Mathew',91.63],
       [1002,'Jose',72.90],
       [1003,'Patty',69.23],
       [1004,'Vin',88.30]]
pd.DataFrame(data)

      0       1      2
0  1000   Steve  86.29
1  1001  Mathew  91.63
2  1002    Jose  72.90
3  1003   Patty  69.23
4  1004     Vin  88.30

In [10]:
#Understanding the diff btw series and dataframe

data = [[1000,'Steve',86.29],
       [1001,'Mathew',91.63],
       [1002,'Jose',72.90],
       [1003,'Patty',69.23],
       [1004,'Vin',88.30]]
pd.Series(data)

0     [1000, Steve, 86.29]
1    [1001, Mathew, 91.63]
2       [1002, Jose, 72.9]
3     [1003, Patty, 69.23]
4        [1004, Vin, 88.3]
dtype: object

In [11]:
#Step 1: Creating a DataFrame using a NumPy array

import numpy as np

my_array = np.array([[11,22,33],[44,55,66]])

print(my_array)
print(type(my_array))

[[11 22 33]
 [44 55 66]]
<class 'numpy.ndarray'>

In [ ]:
#Step 2:  Converting the NumPy Array to Pandas DataFrame

import numpy as np
import pandas as pd

my_array = np.array([[11,22,33],[44,55,66]])